extends base

block content 
    section.section-wishlist
        .container
             
            if books && books.length > 0 
                h2 Results of your search
            else
                h2 No results found 
            ul.list
                if books && books.length > 0  
                    each book in books
                        li.item
                            if user
                                span.like.overviewLike(type='button' data-user=`${user?user.id:''}` data-book=`${book?book.id:''}`)
                                    svg
                                        use(href='/sprite.svg#icon-heart')
                            a(href=`/book/${book.slug}`)
                                img.img(src=`${book.coverImage}`)
                            a(href=`/book/${book.slug}`)
                                h3= `${book.name.includes('-') ? String(book.name).trim().replace(/-/g,' ').split(' ')[0][0].toUpperCase() + String(book.name).trim().replace(/-/g,' ').split(' ')[0].slice(1) + ' ' + String(book.name).trim().replace(/-/g,' ').split(' ').slice(1).join(' ') : book.name[0].toUpperCase() + book.name.slice(1)  }`
                            p.format= `${book.format[0].toUpperCase() + book.format.slice(1)}`
                            p.author= `${book.author.join(', ').replace(/-/g,' ').split(' ').map(a=>a[0].toUpperCase()+a.slice(1)).join(' ')}`
                            p.state Used
                            p.price MAD #{book.price}
                            if user
                                button.btn.btn--flat.addToCart(data-user=`${user ? user.id:''}` data-book=`${book ? book.id : ''}`) Add to cart
                    
                