extends base

block content 
    section.section-cart
        .container
            h2 Shopping cart
            .cart
                ul.cart__list
                    each book in kaka
                        li.cart__item
                            figure.cart__item__img(style='margin-right:2rem;')
                                img(src=`${book.asn.coverImage}` alt='')
                            .cart__item__details
                                h3= book.asn.name
                                div
                                    | by 
                                    a(href='/atuhor')= `${book.asn.author.join(', ')}`
                                p(style='font-size: 1.4rem; font-weight: 700')= book.asn.format 
                                p(style='color: rgb(7, 184, 7)') In Stock
                                p(style='color: var(--color-secondary-dark)') Quantity: #{book.quant}
                                .cta
                                    button Increase
                                    button Delete
                                    button Save for later
                            .cart__item__price MAD #{book.asn.price}
                    
                .cart__checkout
                    p
                        | Total of items(#{items}):
                        span(style='font-weight: 700')  MAD #{price}
                    a.cart__checkout__btn.btn--cta(href='#') Proceed to checkout

