extends base

block content   

    section.section-profile
        .container
            .profile
                .profile__settings
                    ul.profile__list
                        //- item.profile__item
                        //-     a.profile__link(href='#') Infos
                        //- item.profile__item
                        //-     a.profile__link(href='#') Purchases
                        item.profile__item
                            a.profile__link(href='/cart') Cart
                        item.profile__item
                            a.profile__link(href='/wishlist') Wishlist
                .profile__infos
                    .figure
                        img(src=`/images/users/${!user.image ? 'user-default.png' : user.image }` alt='')
                        form(style="display:flex;justify-content:center;margin-bottom:2rem" method="post" enctype="multipart/form-data").upload-image
                            input(name="photo" style='display:none' id="photo"  type="file" class="upload-image__input") 
                            label.btn--cta( for="photo" style='margin-right:1rem;cursor:pointer;margin-bottom: 2rem; padding: 0.5rem 1.5rem')
                                | Upload photo
                            button.btn--cta(type="submit" style='cursor:pointer;margin-bottom: 2rem; padding: 0.5rem 1.5rem')
                                | Save
                            if user.image    
                                button.btn--cta.remove-photo(type="button" style='margin-left:1rem;cursor:pointer;margin-bottom: 2rem; padding: 0.5rem 1.5rem')
                                    | Remove photo
                        h2 #{user.firstName} #{user.lastName}
                    form.update-data-form
                        h2 Update data
                        .form__entity
                            label.form__label(for='firstName') First name
                            input#firstName.form__input(type='text' placeholder=`${user.firstName}`)
                        .form__entity
                            label.form__label(for='lastName') Last name
                            input#lastName.form__input(type='text' placeholder=`${user.lastName}`)
                        .form__entity
                            label.form__label(for='userName') User name
                            input#userName.form__input(type='text' placeholder=`${user.userName}`)
                        .form__entity
                            label.form__label(for='email') Email
                            input#email.form__input(type='email' placeholder=`${user.email}`)
                        button.btn--cta(type='submit') Confirm
                    form.update-password-form
                        h2 Update password
                        .form__entity
                            label.form__label(for='currentPassword') current password
                            input#currentPassword.form__input(type='password')
                        .form__entity
                            label.form__label(for='newPassword') new password
                            input#newPassword.form__input(type='password')
                        .form__entity
                            label.form__label(for='confirmNewPassword') confirm new password
                            input#confirmNewPassword.form__input(type='password')
                        button(type='submit') Confirm

