extends base

block content   

    section.section-profile
        .container
            .profile
                .profile__settings
                    ul.profile__list
                        item.profile__item
                            a.profile__link(href='#') Infos
                        item.profile__item
                            a.profile__link(href='#') Purchases
                        item.profile__item
                            a.profile__link(href='#') Cart
                        item.profile__item
                            a.profile__link(href='#') Wishlist
                .profile__infos
                    .figure
                        img(src='/images/users/user-default.png' alt='')
                        button.btn--cta(style='margin-bottom: 2rem; padding: 0.5rem 1.5rem' type='button')
                            | Update photo
                        h2 #{user.firstName} #{user.lastName}
                    form.update-data-form
                        h2 Update data
                        .form__entity
                            label.form__label(for='firstName') First name
                            input#firstName.form__input(type='text' placeholder=`${user.firstName}`)
                        .form__entity
                            label.form__label(for='lastName') Last name
                            input#lastName.form__input(type='text' placeholder=`${user.lastName}`)
                        .form__entity
                            label.form__label(for='userName') User name
                            input#userName.form__input(type='text' placeholder=`${user.userName}`)
                        .form__entity
                            label.form__label(for='email') Email
                            input#email.form__input(type='email' placeholder=`${user.email}`)
                        button.btn--cta(type='submit') Confirm
                    form.update-password-form
                        h2 Update password
                        .form__entity
                            label.form__label(for='currentPassword') current password
                            input#currentPassword.form__input(type='password')
                        .form__entity
                            label.form__label(for='newPassword') new password
                            input#newPassword.form__input(type='password')
                        .form__entity
                            label.form__label(for='confirmNewPassword') confirm new password
                            input#confirmNewPassword.form__input(type='password')
                        button(type='submit') Confirm

