extends base

block content 
    section.section-wishlist
        .container
            if books.length > 0
                h2 My wishlist
            else 
                h2 Wishlist is empty
            ul.list
                each book in books
                    if book
                        li.item
                            if user
                                span.like.deleteWishlist(type='button' data-user=`${user.id}` data-book=`${book.id}`) 
                                    svg
                                        use(href='/sprite.svg#icon-bin')
                            a(href=`/book/${book.slug}`)
                                img.img(src=`${book.coverImage}`)
                            a(href=`/book/${book.slug}`)
                                h3=`${book.name.includes('-') ? book.name.split('-').join(' ').toUpperCase() : book.name.toUpperCase()}`
                            p.format= `${book.format.toUpperCase()}`
                            
                            a.author(style="textDecoration:none;color:black")(href=`/author/${book.author}`)= `${book.author.map(a=> a.includes('-') ? a.split('-').join(' ').toUpperCase() : a.toUpperCase()).join(', ')}`
                            p.state= book.status
                            p.price MAD #{book.price} 
                            if user
                                button.btn.btn--flat.addToCart(data-user=`${user.id}` data-book=`${book.id}`)  Add to cart     
