extends base

block content 
    section.section-wishlist
        .container
            if books.length > 0
                h2 My wishlist
            else 
                h2 Wishlist is empty
            ul.list
                each book in books
                    if book
                        li.item
                            span.like.deleteWishlist(type='button' data-user=`${user.id}` data-book=`${book.id}`) 
                                svg
                                    use(href='/sprite.svg#icon-bin')
                            a(href=`/book/${book.slug}`)
                                img.img(src=`${book.coverImage}`)
                            a(href=`/book/${book.slug}`)
                                h3= book.name
                            p.format= book.format
                            p.author= `${book.author.join(', ')}`
                            p.state Used
                            p.price #{book.price} MAD
                            button.btn.btn--flat.addToCart(data-user=`${user.id}` data-book=`${book.id}`)  Add to cart      
